@model List<Wedding>
<div class="center jumbotron">
    <h2 class="text-success" style="display: inline-block;">Welcome to the Wedding Planner, @ViewBag.User.FirstName @ViewBag.User.LastName</h2>
    <a class="btn btn-danger logout" style="float:right;" href="/logout">Logout</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Wedding</th>
      <th scope="col">Date</th>
      <th scope="col">Guest</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      @{
        foreach(var w in @Model)
        {
          <tr>
          <td><a href="view/wedding/@w.WeddingID">@w.WedderOne & @w.WedderTwo</a></td>
          <td>@w.Date.ToString("MMMM, dd, yyyy")</td>
          <td>@w.AllGuests.Count</td>
          @if(w.UserID == ViewBag.User.UserID)
          {
            <td><a class="btn btn-danger" href="/delete/wedding/@w.WeddingID">Delete</a></td>
          }else if(w.UserID != ViewBag.User.UserID && !w.AllGuests.Any(u => u.UserID == ViewBag.User.UserID))
          {
            <td><a class="btn btn-success" href="/rsvp/wedding/@w.WeddingID">RSVP</a></td>
          }else {
            <td><a class="btn btn-warning" href="/unrsvp/wedding/@w.WeddingID">Un-RSVP</a></td>
          }
          </tr>
        }
      }
  </tbody>
</table>
<a class="btn btn-primary" style="float:right;" href="/wedding/new">New Wedding</a>